

h1 {
  font-size: 5em;
}

.scroll-container {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.scroll-content {
  width: 300%;
  height: 20px;
  display: flex;
  flex-direction: row;
}

