.main-tool-container {
  background-color: #fdff89;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px #0000001a;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.part-buttons {
  display: flex;
  justify-content: center;
}

.part-buttons button {
  margin: 0 5px;
  font-size: 1.5rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.part-buttons button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
